
*.pro.user
*.pro.user*
.qmake.stash
Makefile

cpp-projects/_build/bin/**/*.dll
cpp-projects/_build/bin/**/*.exe
cpp-projects/_build/bin/**/*.lib
cpp-projects/_build/bin/**/*.pdb
cpp-projects/_build/bin/**/*.ilk
cpp-projects/_build/bin/**/*.pdb
cpp-projects/_build/bin/**/*.exp
cpp-projects/_build/bin/**/*logs.html
cpp-projects/_build/bin/**/logs
cpp-projects/_build/bin/**/k4a_*.html
cpp-projects/_build/bin/**/imgui.ini
cpp-projects/_build/bin/**/*.onnx

cpp-projects/_build/bin/base
cpp-projects/_build/bin/demos
cpp-projects/_build/temp
cpp-projects/_thirdparty

.qtc_clangd

## bin
cpp-projects/**/Makefile
cpp-projects/**/Makefile*
cpp-projects/**/*.pch
cpp-projects/**/*.rc



