
# global

# files extensions
.qmake.stash
Makefile
Makefile*
.qtc_clangd
*.pro.user
*.pro.user*
*.stash
*.rc
*.pch
OrbbecSDK.log.txt

# cpp-projects
cpp-projects/_old
cpp-projects/_tests
## build
cpp-projects/_build/temp
### bin
cpp-projects/_build/bin/**/*.html
cpp-projects/_build/bin/**/*.dll
cpp-projects/_build/bin/**/*.exe
cpp-projects/_build/bin/**/*.lib
cpp-projects/_build/bin/**/*.pdb
cpp-projects/_build/bin/**/*.ilk
cpp-projects/_build/bin/**/*.pdb
cpp-projects/_build/bin/**/*.exp
cpp-projects/_build/bin/**/*logs.html
cpp-projects/_build/bin/**/logs
cpp-projects/_build/bin/**/k4a_*.html
cpp-projects/_build/bin/**/imgui.ini
cpp-projects/_build/bin/**/*.onnx
### project specific
cpp-projects/_build/bin/ts-demos/resources/meshes
cpp-projects/_build/bin/ts-demos/resources/textures
cpp-projects/_build/bin/ts-demos/*.ini
cpp-projects/_build/bin/guardian

## thirdparty
cpp-projects/_thirdparty
## resources
cpp-projects/_resources

# unity-projects
unity-projects/HDRP/DCBodyscan/[Ll]ibrary/
unity-projects/HDRP/DCBodyscan/[Tt]emp/
unity-projects/HDRP/DCBodyscan/[Oo]bj/
unity-projects/HDRP/DCBodyscan/[Bb]uild/
unity-projects/HDRP/DCBodyscan/[Bb]uilds/
unity-projects/HDRP/DCBodyscan/[Ll]ogs/
unity-projects/HDRP/DCBodyscan/[Uu]ser[Ss]ettings/

unity-projects/HDRP/DCBodyscan/*.dll
unity-projects/HDRP/DCBodyscan/*.sln
unity-projects/HDRP/DCBodyscan/*.csproj
unity-projects/HDRP/DCBodyscan/.vsconfig
unity-projects/HDRP/DCBodyscan/.vs
unity-projects/HDRP/DCBodyscan/UIElementsSchema


unity-projects/HDRP/DCBodyscan/plugins
unity-projects/HDRP/DCBodyscan/platforms
unity-projects/HDRP/DCBodyscan/imageformats
unity-projects/HDRP/DCBodyscan/styles

unity-projects/HDRP/DCBodyscan/Assets/Videos
unity-projects/HDRP/DCBodyscan/Assets/AllHereReserved
unity-projects/HDRP/DCBodyscan/Assets/AllHereReserved.meta



